{% block navbar %}
<div class="navbar navbar-inverse" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">首页</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/aiqiyi">爱奇艺</a></li>
                <li><a href="/baidu">百度网盘</a></li>
                <li><a href="/vip-8">VIP-8元红包</a></li>
                <li><a href="/jd-50">京东50元红包</a></li>
                <li><a href="/jd-100">京东100元红包</a></li>
                <li></li>
                <!-- 文件上传测试路径 -->
                <!--<li><a href="/upload">文件上传测试</a></li>-->
                <li><a href="/info">记录查询</a></li>
                <li><a href="/snadd">序列号导入</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}